*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Mali', cursive;
    color: white;
    background-color: rgb(1, 26, 1);
}

.wrapper_ {
    min-height: calc(100vh - 65px);
}

.header_ {
    padding-inline: 10px;
    background-color: rgba(17, 17, 17, 0.75);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 35%);
    margin: 0;
    top: 0;
    position: sticky;
    z-index: 99;

    height: 65px;
    width: 100%;
}

.header_ nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: large;

    height: 65px;
    width: 100%;
}

.header_ .logo {
    width: 200px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked ~ .list-nav {
    height: 400px;
}

#check:checked ~ .list-nav li {
    display: block;
}

.bar-button {
    font-size: 25px;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

.list-nav {
    position: fixed;
    width: 100%;
    top: 65px;
    background:rgba(17, 17, 17, 0.75);
    text-align: right;
    transition: all .5s;
}

.list-nav li {
    display: none;
    line-height: 30px;
    margin: 50px 70px; 
    transform: all .5s;
}

.list-nav li a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.list-nav li a.active, .list-nav li a:hover {
    text-shadow: 0 0 10px #79dc7b, 0 0 20px rgb(121, 220, 123), 0 0 40px rgb(121, 220, 123);
    color: #fff;
    transition: .3s ;
}

footer {
    background-color: #0e3e10;
}

footer p {
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px #79dc7b, 0 0 10px rgb(121, 220, 123), 0 0 20px rgb(121, 220, 123);
    color: #fff;
    transition: .3s ;
}

.intersection {
    height: 50px;
}

.container_ {
    margin: 10px;
}

/* index */
.start_ {
    display:inline-block;
    position:relative;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.start_ a {
    position: absolute;
    top:80%;
    left:45%;
    padding: 0.8em 0.8em;
    background-color:rgba(255, 220, 156, 0.5);
    border-radius:1.2em;
    color:black;
    text-transform:uppercase;
    text-decoration: none;
}

.start_ a:hover {
    background-color:rgba(255, 166, 0, 0.5);
    cursor:pointer;
    color:white;
}

.btn-pre-register {
    display: inline-block;
    position: relative;
}

.media {
    align-items: center;
    justify-content: space-around;
    border-style: outset;
    border-color: rgba(127, 255, 212, 0.2);
    margin: .5rem 1rem;
    padding: 5px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 8px;
}
  
.column-img {
    flex-direction: row;
    -ms-flex: 60%;
    flex: 60%;
    max-width: 60%;
    height: 500px;
    padding: 0 4px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.media-img img {
    width: 99%;
    height: 99%;
    max-height: 500px;
    vertical-align: middle;
    border-radius: .5rem;
    object-fit: cover;
    cursor: grab;
}

.media-img img:hover {
    width: 100%;
    height: 100%;
    max-height: 500px;
    box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.3);
}

.column-text {
    flex-direction: row;
    -ms-flex: 40%;
    flex: 40%;
    max-width: 40%;
    height: 500px;
    padding: 0 4px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.media-text {
    display: flex;
    flex-direction: column;
    height: 500px;
    top: 50%;
    text-align: center;
    align-content: center;
}

/* pre-register */
.container-pre-register {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:    "pre-register-bg pre-register-bg contact"
                            "pre-register-bg pre-register-bg contact"
                            "pre-register-bg pre-register-bg contact"
                            "pre-register-bg pre-register-bg contact";
    justify-content: center;
    align-items: center;
}

.pre-register-bg {
    grid-area: pre-register-bg;
}

.pre-register-bg img {
    width: 100%;
    height: 100%;
    opacity: .9;
    object-fit: contain;
}

.contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    border-style: outset;
    align-items: center;
    justify-content: center;
    max-height: 300px;
    margin: 20px;
    background-color: darkslategrey;
}

.contact h3 {
    padding-bottom: 10px;
}

.contact div {
    padding: 5px;
}

.contact div div input {
    padding: 5px;
}

.contact div div:last-child {
    display: flex;
    justify-content: right;
    padding-top: 50px;
}

.contact div div a {
    text-decoration: none;
    color: chocolate;
    background-color:rgba(255, 220, 156, 0.5);
    padding: 0.4em 0.4em;
    border-radius:.8em;
}

.contact div div a:hover {
    background-color:rgba(255, 166, 0, 0.5);
    cursor:pointer;
    color: white;
}

/* about us */
.container_au {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card {
    width: 30rem;
}

.card img {
    width: 100%;
}

.card-body {
    color: #011a01;
}

.card-body h5 {
    text-align: center;
}

.card-body p {
    text-align: justify;
}

/* Gallery */
.gallery-title {
    display: flex;
    justify-content: center;
}

.gallery-title h2 {
    text-align: center;
    padding: 10px;
}

.container-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 10px;
    position: relative;
}

.gallery-item {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item:nth-child(9) {
    grid-row-start: span 2;
}

.gallery-img {
    width: 98%;
    height: 98%;
    object-fit: cover;
    border-radius: .2rem;
}

.gallery-img:hover {
    width: 100%;
    height: 100%;
    cursor: grab;
    box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.5);
}

/* Sign-up */
.container-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/Gallery-1004.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    width: 100%;
}

.sign-up {
    width: 90%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-out;
}

.sign-up h3 {
    padding: 2.7rem 0;
    font-size: 2rem;
}

.sign-up .formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.082);
    text-align: center;
}

.sign-up .formulario h4 {
    padding-bottom: 2rem;
}

.sign-up .formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: 1.1rem;
    color: white;
}

.sign-up .formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-up .formulario input[type="button"]:hover {
    background-color: rgba(255, 166, 0, 0.423);
    color: white;
}

/* Responsive */
@media screen and (min-width: 1280px) {
    .logo {
        margin-left: 50px;
    }

    nav {
        height: 85px;
    }

    .bar-button {
        display: none;
    }

    .list-nav {
        position: relative;
        height: 85px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .list-nav li {
        display: inline-block;
        line-height: 85px;
        margin: 0 20px;
        transition: none;
    }

    .list-nav li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .start {
        display: contents;
    }

    .start a {
        display: none;
        /*  */
    }

    .img-background {
        object-fit: contain;
    }

    .column-img {
        flex-direction: column;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .column-text {
        flex-direction: column;
        height: 200px;
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .container-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    #about-us img {
        width: 300px;
        height: 300px;
    }

    .pre-register-bg img {
        display: none;
    }

    .container-sign-up {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 720px) {
    .container-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-item:nth-child(9) {
        grid-row-start: span 1;
    }
}