main {
    .container_ {
        margin: 10px;
    
        /* index */
        .start_ {
            display:inline-block;
            position:relative;
            top: 5px;
            left: 50%;
            transform: translateX(-50%);
    
            a {
                position: absolute;
                top: 80%;
                left: 45%;
                padding: 0.8em 0.8em;
                background-color: $bg-color-5;
                border-radius: 1.2em;
                color: $color-2;
                text-transform: uppercase;
                text-decoration: none;
                
                &:hover {
                    background-color: $bg-color-6;
                    cursor: pointer;
                    color: $color-1;
                }
            }
    
            .btn-pre-register {
                display: inline-block;
                position: relative;
            }
        }
        
        .media {
            align-items: center;
            justify-content: space-around;
            border-style: outset;
            border-color: $b-color-1;
            margin: .5rem 1rem;
            padding: 5px;

            .row {
                display: flex;
                display: -ms-flexbox; /* IE10 */
                -ms-flex-wrap: wrap; /* IE10 */
                flex-wrap: wrap;
                padding: 0 4px;
                margin: 8px;

                .column-img {
                    @extend .align-center;
                    flex-direction: row;
                    -ms-flex: 60%;
                    flex: 60%;
                    max-width: 60%;
                    height: 500px;
                    padding: 0 4px;
                    vertical-align: middle;
    
                    .media-img {
                        @extend .align-center;
                        display: flex;

                        img {
                            @include size (99%, 99%);
                            max-height: 500px;
                            vertical-align: middle;
                            border-radius: .5rem;
                            object-fit: cover;
                            cursor: grab;
                            transition: width .5s, height .5s, box-shadow .2s;
        
                            &:hover {
                                width: 100%;
                                height: 100%;
                                max-height: 500px;
                                box-shadow: 0 0 10px 5px $b-color-2;
                            }
                        }
                    }
                }
    
                .column-text {
                    -ms-flex: 40%;
                    flex: 40%;
                    max-width: 40%;
                    height: 500px;
                    padding: 0 4px;
                    
                    .media-text {
                        @extend .align-center;
                        display: flex;
                        flex-direction: column;
                        height: 500px;
                        top: 50%;
                        text-align: center;
                    }
                }
            }
        }
    }
}