.container-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/Gallery-1004.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    width: 100%;

    .sign-up {
        @extend .align-center;
        width: 90%;
        height: 75vh;
        display: flex;
        flex-direction: column;
        transition: all .5s ease-out;

        h3 {
            padding: 2.7rem 0;
            white-space: nowrap;
            font-size: 2em;
            text-shadow: 0 0 2px $color-3, 0 0 4px $color-3, 0 0 8px $color-3;
            color: $color-1;
            border-right: 4px transparent;
        }
    }
}