footer {
    background-color: $bg-color-4;

    div {
        padding-inline: 20px;
    }

    ul {
        padding-inline: 20px;

        a {
            text-decoration: none;
            color: $color-1;
    
            &:hover {
                text-decoration: underline;
                text-shadow: 0 0 4px $color-3, 0 0 8px $color-3, 0 0 16px $color-3;
                color: $color-1;
                transition: .3s;
            }
        }
    }
}