.header_ {
    padding-inline: 10px;
    background-color: $bg-color-2;
    box-shadow: 0 3px 7px 0 $b-color-4;
    margin: 0;
    top: 0;
    position: sticky;
    z-index: 99;
    height: 65px;
    width: 100%;

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: large;
        height: 85px;
        width: 100%;

        .logo {
            width: 200px;
            height: 50px;
            margin-left: 50px;
            cursor: pointer;
        }

        #check {
            display: none;

            &:checked ~ .list-nav {
                height: 400px;

                li {
                    display: block;
                }
            }
        }

        .bar-button {
            display: none;
            font-size: 25px;
            color: $color-1;
            margin-left: 15px;
            cursor: pointer;
        }

        .list-nav {
            position: relative;
            height: 85px;
            top: 0;
            background: none;
            transition: none;
            text-align: right;
            margin-right: 50px;

            li {
                display: inline-block;
                line-height: 85px;
                margin: 0 20px;
                transition: none;

                a {
                    color: $color-1;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 600;

                    &.active {
                        text-shadow: 0 0 10px $color-3, 0 0 20px $color-3, 0 0 40px $color-3;
                        color: $color-1;
                        transition: .3s ;
                    }

                    &:hover {
                        text-shadow: 0 0 10px $color-3, 0 0 20px $color-3, 0 0 40px $color-3;
                        color: $color-1;
                        transition: .3s ;
                    }
                }
            }
        }
    }
}