@media screen and (max-width: 991px) {
    body {
        .wrapper_ {
            .nav_ {
                .navbar-toggler {
                    margin-bottom: 12px;
                }
    
                #navbarNav {
                    .list-nav {
                        width: 35%;
                        height: 340px;
                        padding-right: 0;
        
                        li {
                            background-color: $bg-color-2;
                            margin: 0;
                            text-align: center;
                        }
                    }
                }
            }
    
            header {
                .start_ {
                    .img-background {
                        h1 {
                            font-size: 2em;
                        }
                    }
                }
            }
        
            .container_gr {
                .media {
                    .row {
                        .column-img {
                            flex-direction: column;
                            -ms-flex: 100%;
                            flex: 100%;
                            max-width: 100%;
                        }
                    
                        .column-text {
                            flex-direction: column;
                            height: 200px;
                            -ms-flex: 100%;
                            flex: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        
            .container-gallery {
                grid-template-columns: repeat(2, 1fr);
            }
        
            #about-us img {
                width: 300px;
                height: 300px;
            }
        
            .pre-register-bg img {
                display: none;
            }
        
            .container-sign-up {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        .wrapper_ {
            .container-gallery {
                grid-template-columns: repeat(1, 1fr);
            }
        
            .gallery-item:nth-child(9) {
                grid-row-start: span 1;
            }
        }
    }
}