// colors
$color-1: white;
$color-2: black;
$color-3: rgb(121, 220, 123);
$color-4: chocolate;

// background colors
$bg-color-1: rgb(1, 26, 1);
$bg-color-2: rgba(17, 17, 17, 0.75);
$bg-color-3: darkslategrey;
$bg-color-4: rgb(14, 62, 16);
$bg-color-5: rgba(255, 220, 156, 0.5);
$bg-color-6: rgba(255, 166, 0, 0.5);

// border colors
$b-color-1: rgba(127, 255, 212, 0.2);
$b-color-2: rgba(0, 140, 186, 0.3);
$b-color-3: rgba(0, 140, 186, 0.5);
$b-color-4: rgba(0, 0, 0, 0.35);