@import "_variables";

@import "_reset";

// extend
.align-center {
    justify-content: center;
    align-items: center;
}

// mixin
@mixin size ($_height, $_width) {
    height: $_height;
    width: $_width;
}
    
body {
    font-family: 'Mali', cursive;
    color: $color-1;
    background-color: $bg-color-1;

    .wrapper_ {
        min-height: calc(100vh - 65px);
        
        @import "_header";

        .intersection {
            @extend .align-center;
            height: 50px;
            display: flex;
        }

        @import "_container_";
        
        @import "_pre-register";
        
        @import "_about-us";
        
        @import "_gallery.scss";
        
        @import "_sign-up";

        @import "_footer";
    }
}

@import "_responsive";