*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}
    
body {
    font-family: 'Mali', cursive;
    color: white;
    background-color: #011a01;

    .wrapper_ {
        min-height: calc(100vh - 65px);
        
        @import "_header";

        .intersection {
            height: 50px;
        }

        @import "_footer";

        @import "_pre-register";

        @import "_about-us";

        @import "_gallery.scss";
        
        @import "_sign-up";
    }

    @import "_container_";
}

@import "_responsive";